*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
core/crypto/build/*
core/testing/build/*
.kotlin/
.vscode/settings.json

# Ignore build directories of specific modules
core/indexer/build/*
core/wallet/build/*
core/ledger/build/*
feature/balance/build/*
htmlReport/
